---
import Layout from "../../layouts/RootLayout.astro";
---

<Layout type="app" title="FightScale">
  <div
    class="py-2 flex flex-col w-full max-w-screen-md mx-auto sm:min-w-96 gap-5"
  >
    @username.here
  </div>
</Layout>
