<nav>
  <a href="/">this is a navbar</a>
  <a href="/user/username">link to other page</a>
</nav>

<style>
  nav {
    padding: 2rem 4rem;
    background-color: bisque;
    display: flex;
    justify-content: space-between;
  }
</style>
